name: Release

on:
  push:
    branches: [ master ] 

jobs:
  deploy:

    runs-on: ubuntu-latest   

    steps:
    - uses: actions/checkout@v3
    - run: docker build . -t steavy/nest-app
    - run: echo "${{secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin
    - run: docker push steavy/nest-app
   